
@{
    Layout = null;
}

<form method="post" action="/Login/Index">
    <input type="email" name="email" placeholder="E-mail">
    <input type="password" name="pass" placeholder="Password">
    <a href="#">Log in</a>
    <div id="remember-container">
        <input type="checkbox" id="checkbox-2-1" class="checkbox" checked="checked" />
        <span id="remember">Remember me</span>
        <span id="forgotten">Forgotten password</span>
    </div>
</form>